.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1a1a1a;
  border-radius: 5px;
  padding: 15px 40px;
  color: white;
}

.card {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background-color: #2d2d2d;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.index {
  font-weight: bold;
  font-size: 1.5rem;
}

.addressPlayer {
  color: #e8dfdf  ;
  margin-top: 10px;
}

.amountTotal {
  color: #e8dfdf  ;
  margin-top: 10px;
}

.fee {
  color: #e8dfdf  ;
  margin-top: 10px;
}

.datetimeLimit {
  color: #e8dfdf  ;
  margin-top: 10px;
}


.button {
  background-color: #893737 ;
  color: #e8dfdf ;
  padding: 10px 25px;
  border-radius: 4px;
  font-size: 1.1em;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s;
  font-weight: bold;
}

.button:hover {
  background-color: #ac5959;
}

.input {
  padding: 8px;
  border-radius: 4px;
  border: none;
  margin-right: 10px;
  margin-top: 10px;
  font-size: 1rem;
  background-color: #f1f1f1;
  color: #2d2d2d;
}
