.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: max-content;
  /* width: 100%; */
  padding: 1em 2em 1em 2em;
  border-bottom: 2px solid #d4aaaa53;
  position: sticky;
  top: 0;
  backdrop-filter: blur(20px);
  }

  
  .logoLink{
    text-decoration: none;
  }
  
  .logoContainer {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10%;
    transition: transform 0.2s ease-in-out;
  }
  
  .logoContainer:hover {
    transform: translateY(-3px);
  }
  
  /* Relación de aspecto: 0.67:1 (99:148) */
  .logoImage{
    width: 3.7em;
    height: 3.7em;
  }
  
  .logoText {
    font-family:  Georgia;
    font-size: 2.3em;
    font-weight: bold;
    line-height: 1;
    color: #000000;
  }
  
  .walletContainer {
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    padding: 1em 0em 1em 1em;
  }
  
  .walletText {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-right: 16px;
  }

  /* For mobile phones: */
  @media only screen and (max-width: 600px) {
    .nav{
      padding: 0em 2em 0em 2em;
    }
    .walletContainer{
      flex-direction: column;
    }
  }